html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	box-sizing: border-box;
	margin: 0;
}

body {
	padding: 10px;
}

h1 {
	text-align: center;
}

#input-output {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	flex: 1;
}

#input-output textarea,
#bottom {
	flex: 1;
	min-height: 200px;
	white-space: pre;
	align-self: stretch;
}

#arrow-container {
	font-size: 2em;
	line-height: 100px;
}